@font-face{
  font-family: "Roboto";
  font-weight: 400;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face{
  font-family: "Roboto";
  font-weight: 500;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face{
  font-family: "Roboto";
  font-weight: 700;
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

.container{
  width: 1160px;
  margin: 0 auto;
}

.header{
  padding-top: 49px;
  background-color: #eeeeee;
}

.header .container{
  display: flex;
  align-items: center;
  padding-top: 11px;
}

.header__logo{
  display: inline-block;
  vertical-align: middle;
  margin-top: -12px;
}

.header__logo:hover{
  opacity: 0.8;
}

.header__logo:active{
  opacity: 0.3;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 202px;
  list-style: none;
}

.header-menu__item{
  margin-right: 46px;
}

.header-menu__item:nth-of-type(4n){
  margin-right: 0;
}

.header-menu__link,
.header__cart{
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.header__cart{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-cart{
  margin-right: 25px;
  fill: #a6a6a6;
}

.header-menu__item--active{
  border-bottom: 2px solid #fb565a;
}

.header-menu__link:hover,
.header__cart:hover{
  color: #fb565a;
}

.header-menu__link:active,
.header__cart:active{
  color: #a6a6a6;
}

.page-header{
  background-color: #eeeeee;
}

.slider{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item{
  display: none;
  position: relative;
  min-height: 430px;
}

.slider__item--visible{
  display:block;
}

.slider__item-content{
  width: 520px;
}

.slider__item-title{
  margin: 0;
  padding-top: 76px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider__item-description{
  margin: 0;
  margin-top: 25px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.slider__item-image{
  position: absolute;
  right: 32px;
  bottom: 0;
}

.slider__item-button{
  display: inline-block;
  vertical-align: middle;
  margin-top: 39px;
  width: 240px;
  padding: 16px 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 5px;
}

.slider__button:hover{
  background-color: #e74246;
}

.slider__button:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.3);
}

.our-advantage{
  padding: 58px 0 80px 0;
  border-bottom: 2px solid #eeeeee;
}

.our-advantage__items{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-advantage__item{
  width: 300px;
  margin-top: 20px;
  margin-right: 100px;
}

.our-advantage__item:nth-of-type(3n){
  margin-right: 0;
}

.our-advantage__title{
  margin: 0;
  margin-top: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.our-advantage__description{
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.our-advantage__button{
  display: inline-block;
  vertical-align: middle;
  margin-top: 32px;
  width: 160px;
  padding: 16px 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #fb565a;
}

.our-advantage__item:nth-of-type(2) .our-advantage__button{
  background-color: #00ca74;
}

.our-advantage__item:nth-of-type(3) .our-advantage__button{
  background-color: #efc84a;
}

.our-advantage__button:hover{
  background-color: #e74246;
}

.our-advantage__item:nth-of-type(2) .our-advantage__button:hover{
  background-color: #00bc6c;
}

.our-advantage__item:nth-of-type(3) .our-advantage__button:hover{
  background-color: #eab534;
}

.our-advantage__button:active{
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.about-us{
  display: flex;
  justify-content: space-between;
  padding-top: 74px;
  padding-bottom: 67px;
  border-bottom: 2px solid #eeeeee;
}

.about-us__title{
  margin: 0;
  padding-right: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us__section-description{
  margin:0;
  margin-top: 33px;
  padding-right: 100px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.about-us__section-description:nth-of-type(2){
  margin-top: 39px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: #000000;
}

.about-us__service-items{
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.about-us__service-item{
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.about-us__service-item::before{
  position: absolute;
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  content: "";
  background-color: #fb565a;
}

.about-us__service-item{
  margin-top: 25px;
}

.about-us__sidebar{
  width: 360px;
}

.about-us__image{
  margin-top: -34px;
}

.about-us__sidebar-title{
  margin: 0;
  margin-top: 32px;
  margin-left: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us__indicator-items{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.about-us__indicator-item{
  width: 100px;
  margin-right: 19px;
}

.about-us__indicator-title{
  margin:0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.about-us__indicator-title sup{
  font-size: 29px;
}

.about-us__indicator-description{
  margin:0;
  margin-top: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

.our-partners{
  border-bottom: 2px solid #eeeeee;
}

.our-partners__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-partner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.our-partner::after{
  position: absolute;
  right: -20px;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.our-partner:nth-of-type(4n){
  margin-right: 0;
}

.our-partner:nth-of-type(4n)::after{
  content: none;
}

.our-partner__image{
  opacity: 0.5;
}

.our-partner__link:hover .our-partner__image{
  opacity: 1;
}

.our-partner__link:active .our-partner__image{
  opacity: 0.3;
}

.footer{
  margin-top: 80px;
}

.footer-map{
  position: relative;
  height: 415px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position-y: -207.5px;
  background-position-x: 50%;
}

.footer-map .container{
  height: 100%;
}

.footer-contacts{
  position: relative;
  top: 50%;
  left: 0;
  width: 319px;
  padding: 50px 47px 45px 47px;
  background-color: #ffffff;
  transform: translateY(-50%);
  z-index: 200;
}

.footer-contacts__title{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts__address,
.footer-contacts__phone{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.footer-contacts__address{
  margin-top: 31px;
  padding-right: 20px;
}

.footer-contacts__phone{
  margin-top: 22px;
}

.footer-contacts__button{
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
  padding: 16px 45px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 5px;
}

.footer-content{
  display: flex;
  padding: 70px 0;
}

.footer__social-items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item{
  margin-right: 12px;
}

.footer__social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.footer__social-icon{
  fill: #ffffff;
}

.footer__social-link:hover{
  background-color: #e74246;
}

.footer__social-link:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.footer__social-link:active .footer__social-icon{
  opacity: 0.3;
}

.footer-section{
  margin-left: 123px;
}

.footer__title{
  margin: 0;
  margin-top: 6px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer__description{
  margin: 0;
  margin-top: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #444444;
}

/*catalog.html*/

.page-header__title{
  margin: 0;
  padding: 76px 0 105px 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.catalog{
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.catalog-sidebar{
  width: 260px;
}

.range-controls{
  position: relative;
  height: 80px;
  margin-top: 47px;
  background-color: #eeeeee;
}

.range__scale{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  transform: translate(-50%);
  background-color: #d7dcde;
}

.range__bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range__toggle{
  position: absolute;
  width: 20px;
  height: 23px;
  top: -9px;
  background-image: url("../img/range-control.svg");
  background-repeat: no-repeat;
}

.range__toggle--min{
  left: -10px;
}

.range__toggle--max{
  left: 65%;
}

.range__outputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.range__label{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.range__input{
  width: 80px;
  padding: 8px 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #283136;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
}

.range__label + .range__input{
  margin-left: 10px;
}

.filter__group{
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.filter__options{
  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.filter__input{
  display: none;
}

.filter__label{
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}

.filter__label--checkbox::before,
.filter__label--radio::before{
  content: "";
  position: absolute;
  top:-3px;
  left: -35px;
  opacity: 0.5;
  background-repeat: no-repeat;
}

.filter__label--radio::before{
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

.filter__label--checkbox::before{
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter__input:checked + .filter__label--radio::before{
  background-image: url("../img/radio-on.svg")
}

.filter__input:checked + .filter__label--checkbox::before{
  background-image: url("../img/checkbox-on.svg")
}

.filter__label:hover{
  color: #000000;
}

.filter__label--checkbox:hover::before,
.filter__label--radio:hover::before{
  opacity: 1;
}

.filter__input:disabled + .filter__label,
.filter__input:disabled + .filter__label{
  opacity: 0.2;
}

.filter__submit{
  width: 260px;
  margin-top: 50px;
  padding: 16px 88px 16px 88px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

.filter__submit:hover{
  background-color: #dfdfdf;
}

.filter__submit:active{
  outline: none;
  background-color: #d5d5d5;
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.filter__layouts{
  margin-top: 55px;
}

.filter__features{
  margin-top: 47px;
}

.filter__layouts .filter__option{
  margin-top: 18px;
}

.filter__features .filter__option{
  margin-top: 18px;
}

.catalog-section__header{
  padding-top: 5px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-section__header-title{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-options,
.sort-order-options{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-options{
  margin-left: 246px;
}

.sort-order-options{
  align-self: flex-end;
}

.sort-option,
.sort-order-option{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.3)
}

.sort-option:hover,
.sort-order-option:hover{
  color: rgba(0,0,0,0.6)
}

.sort-option:active,
.sort-order-option:active{
  color: #000000;
}

.sort-option{
  margin-right: 25px;
}

.sort-order-option:not(:last-of-type){
  margin-right: 15px;
}

.sort-icon{
  fill: #a6a6a6;
  opacity: 0.2;
}

.sort-order-option:hover .catalog__sort-icon{
  opacity: 1;
}

.sort-order-option:active .catalog__sort-icon{
  fill: #231f20;
  opacity: 1;
}

.catalog__items{
  width: 760px;
  margin-top: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  position: relative
}

.catalog__item-header{
  fill: #e9e9e9;
}

.catalog__item:hover .catalog__item-header{
  fill: #4d4d4d;
}

.catalog__item:hover .catalog__item-detail{
  display: block;
}

.catalog__item-detail{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 34px 60px 43px 60px;
  background-color: #eeeeee;
}

.catalog__item-title{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.catalog__item-description{
  margin: 0;
  margin-top: 25px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.catalog__item-price{
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 16px 72px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 5px;
}

.catalog__item-price:hover{
  background-color: #e74246;
}

.catalog__item-price:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.catalog-pagination{
  display: flex;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  list-style: none;
}

.catalog-pagination__item{
  display: flex;
  margin-right: 10px;
}

.catalog-pagination__link{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-width: 50px;
  padding: 16px 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 5px;
}

.catalog-pagination__link--active{
  padding: 13px 0;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.catalog-pagination__link:hover{
  background-color: #dfdfdf;
}

.catalog-pagination__link:active{
  color: rgba(0,0,0,0.1);
  box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.1);
}

.catalog-pagination__link--next{
  padding-right: 79px;
  padding-left: 79px;
}

/*modals*/

.modal{
  display: none;
  position: fixed;
  width: 960px;
  top: 50%;
  left: 50%;
  padding: 70px 100px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.modal-show{
  display: block;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.modal__close{
  font-size: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.feedback-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form__control{
  display: inline-block;
  margin: 0;
  margin-top: 36px;
  padding: 0;
  border: none;
}

.feedback-form__label{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.feedback-form__input{
  width: 760px;
  margin-top: 12px;
  padding: 14px 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #d7dcde;
  resize: none;
}

.feedback-form__input--half-width{
  width: 360px;
}

.feedback-form__input::placeholder{
  padding-left: 15px;
  color: #444444;
}

.feedback-form__submit{
  margin-top: 47px;
  padding: 16px 80px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 5px;
}
